@model IEnumerable<Team2Application.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="d-inline-flex">
    <h3>Client Id</h3>
    <input/>
</div>

<div class="d-inline-flex">
    <h3>Client secret Id</h3>
    <input />
</div>

